In [1]:
from sklearn.utils import resample

In [2]:
import pandas as pd
data=pd.read_csv("btissue.csv")
data.head()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P,class
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334,car
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776,car
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449,car
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814,car
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503,car

In [3]:
import numpy as np
np.shape(data)

(106, 10)

In [4]:
X=data.iloc[:,0:9]
X.head()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503

In [5]:
X1=resample(X,n_samples=200, random_state=0)
X1.head(6)

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
44,172.515797,0.127235,0.038397,37.543673,192.218148,5.119855,19.322081,32.189821,174.933770
47,370.395725,0.104720,0.000000,115.923253,1308.120430,11.284366,31.367031,112.715102,365.977651
64,391.000000,0.058119,0.011170,35.780061,265.149790,7.410546,22.131472,28.114244,400.994818
67,145.000000,0.117635,0.110305,21.218942,82.455562,3.885941,20.303082,6.166715,162.510927
67,145.000000,0.117635,0.110305,21.218942,82.455562,3.885941,20.303082,6.166715,162.510927
103,1600.000000,0.071908,-0.066323,436.943603,12655.342130,28.963331,103.732704,432.129749,1475.371534

In [6]:
from sklearn.tree import DecisionTreeClassifier
predictors=data.iloc[:,0:9]
predictors.head()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503

In [7]:
target=data.iloc[:,9]
target.head()

0    car
1    car
2    car
3    car
4    car
Name: class, dtype: object

In [8]:
from sklearn.model_selection import train_test_split

predictors_train, predictors_test, target_train, target_test = train_test_split(
    predictors, target, 
    test_size=0.3,       # 30% of data goes to the test set
    random_state=123     # ensures reproducibility
)

In [9]:
predictors_train.head()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
21,211.000000,0.053931,0.094248,30.753443,151.984578,4.942034,14.268374,27.243124,217.130704
77,691.972031,0.026005,0.086568,190.676692,304.270718,1.595742,23.975718,189.163331,594.315626
35,144.000000,0.120602,0.046077,19.647670,70.426239,3.584458,18.131014,7.569493,160.373770
71,1385.664721,0.092328,0.089361,202.480044,8785.028733,43.387134,143.092194,143.257780,1524.609204
65,502.000000,0.065275,0.027925,53.239433,834.272730,15.670203,33.331142,41.514722,544.039415

In [10]:
from sklearn.tree import DecisionTreeClassifier

dtree_entropy = DecisionTreeClassifier(
    criterion="entropy",
    random_state=100,
    max_depth=3,
    min_samples_leaf=5
)
dtree_entropy.fit(predictors_train, target_train)

prediction = dtree_entropy.predict(predictors_test)

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(target_test, prediction, normalize=True)

0.625

In [12]:
from sklearn.metrics import confusion_matrix
target_test

53     mas
28     fad
63     gla
99     adi
93     adi
90     adi
8      car
5      car
0      car
62     gla
85     adi
4      car
31     fad
87     adi
13     car
38     mas
72     con
41     mas
42     mas
24     fad
23     fad
50     mas
29     fad
54     gla
19     car
59     gla
33     fad
103    adi
82     con
9      car
79     con
84     adi
Name: class, dtype: object

In [13]:
confusion_matrix(target_test,prediction)

array([[6, 0, 1, 0, 0, 0],
       [0, 7, 0, 0, 0, 0],
       [0, 0, 3, 0, 0, 0],
       [0, 2, 0, 0, 0, 4],
       [0, 1, 0, 0, 1, 2],
       [0, 2, 0, 0, 0, 3]])