In [6]:
#1
import pandas as pd
data=[10,20,30,40]
custom_index=['a','b','c','d']
s=pd.Series(data,index=custom_index)
print("Original series:")
print(s)
print("Firs three elements:\n",s.head(3))
print("Ele at index c:\n",s['c'])

Original series:
a    10
b    20
c    30
d    40
dtype: int64
Firs three elements:
 a    10
b    20
c    30
dtype: int64
Ele at index c:
 30

In [16]:
#2
import numpy as np
arr=np.random.randint(1,101,size=10)
s2=pd.Series(arr)
print("s2 series\n",s2)
print("a)max",s2.max(),"b)min",s2.min(),"b)mean",s2.mean())
s2_squared=s2**2;
print("\n",s2_squared)

s2 series
 0    50
1    13
2    30
3    11
4    88
5    23
6    43
7    15
8     8
9    80
dtype: int64
a)max 88 b)min 8 b)mean 36.1

 0    2500
1     169
2     900
3     121
4    7744
5     529
6    1849
7     225
8      64
9    6400
dtype: int64

In [15]:
#3
s3=pd.Series([5,np.nan,8,np.nan,12])
print("Series s3\n",s3)
print("Missing value:\n",s3.isnull())
print("Forward fill:\n",s3.ffill())
print("Drop NaN values:\n",s3.dropna())

Series s3
 0     5.0
1     NaN
2     8.0
3     NaN
4    12.0
dtype: float64
Missing value:
 0    False
1     True
2    False
3     True
4    False
dtype: bool
Forward fill:
 0     5.0
1     5.0
2     8.0
3     8.0
4    12.0
dtype: float64
Drop NaN values:
 0     5.0
2     8.0
4    12.0
dtype: float64