In [1]:
import pandas as pd
data=pd.read_csv("auto_mpg.csv")
data

,mpg,cylinders,displacement,hp,weight,acc,model,origin,car
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

In [2]:
data=data.dropna(axis=0,how='any')
data

,mpg,cylinders,displacement,hp,weight,acc,model,origin,car
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

In [3]:
predictors=data.iloc[:,1:8]
predictors

     cylinders  displacement     hp  weight   acc  model  origin
0            8         307.0  130.0  3504.0  12.0     70       1
1            8         350.0  165.0  3693.0  11.5     70       1
2            8         318.0  150.0  3436.0  11.0     70       1
3            8         304.0  150.0  3433.0  12.0     70       1
4            8         302.0  140.0  3449.0  10.5     70       1
..         ...           ...    ...     ...   ...    ...     ...
393          4         140.0   86.0  2790.0  15.6     82       1
394          4          97.0   52.0  2130.0  24.6     82       2
395          4         135.0   84.0  2295.0  11.6     82       1
396          4         120.0   79.0  2625.0  18.6     82       1
397          4         119.0   82.0  2720.0  19.4     82       1

[392 rows x 7 columns]

In [4]:
target=data.iloc[:,0]
target

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 392, dtype: float64

In [5]:
from sklearn.model_selection import train_test_split
predictors_train,predictors_test,target_train,target_test = train_test_split(predictors,target,test_size=0.3,random_state=123)

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
model=LinearRegression()

In [8]:
model=model.fit(predictors_train,target_train)

In [9]:
prediction=model.predict(predictors_test)

In [10]:
from sklearn.metrics import mean_squared_error,r2_score

In [11]:
mean_squared_error(target_test,prediction)

12.166313433330698

In [12]:
r2_score(target_test,prediction)

0.7867839344447645