In [3]:
import pandas as pd
s=pd.Series(['a','b','c','d'])
df=pd.DataFrame(s)
print(df)

   0
0  a
1  b
2  c
3  d

In [6]:
import pandas as pd
name=pd.Series(['Smruti','Rani'])
team=pd.Series(['S','R'])
dic={'Name':name, 'Team':team}
df=pd.DataFrame(dic)
print(df)

     Name Team
0  Smruti    S
1    Rani    R

In [8]:
import pandas as pd
dicl=[
    {'FirstName':'Smruti','LastName':'Rani'},
    {'FirstName':'Smruti','LastName':'Bhardwaj'},
    {'FirstName':'Smruti','LastName':'Sandhya'}
]
df1=pd.DataFrame(dicl)
print(df1)

  FirstName  LastName
0    Smruti      Rani
1    Smruti  Bhardwaj
2    Smruti   Sandhya

In [16]:
import pandas as pd
empdata ={
    'empid':[10,12,13,31,14,15],
    'ename':['Sachin','Vinod','Anil','AmaN','ALOK','ANDA'],
    'DOJ':['12-10-19','2-10-19','2-10-19','12-10-19','2-10-19','2-10-19']
}
df1=pd.DataFrame(empdata)
print(df1)

   empid   ename       DOJ
0     10  Sachin  12-10-19
1     12   Vinod   2-10-19
2     13    Anil   2-10-19
3     31    AmaN  12-10-19
4     14    ALOK   2-10-19
5     15    ANDA   2-10-19

In [19]:
df1[['empid','ename']]

   empid   ename
0     10  Sachin
1     12   Vinod
2     13    Anil
3     31    AmaN
4     14    ALOK
5     15    ANDA

In [26]:
import pandas as pd
data ={
    'age':[10,12,13,31,14,15],
    'name':['Sachin','Vinod','Anil','AmaN','ALOK','ANDAZ'],
    'city':['Umerkote','Nbpr','Nbpr','Nbpr','Nbpr','Nbpr']
}
df1=pd.DataFrame(data)
df1.to_csv('data.csv',index=False)
print("Data.csv created succesfully!")
df2=pd.read_csv('data.csv')
print(df2)

Data.csv created succesfully!
   age    name      city
0   10  Sachin  Umerkote
1   12   Vinod      Nbpr
2   13    Anil      Nbpr
3   31    AmaN      Nbpr
4   14    ALOK      Nbpr
5   15   ANDAZ      Nbpr

In [29]:
import pandas as pd
col_names =[
    "mpg","cylinders","displacement","hp","weight","acc","model","origin","car"
]
url="https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"

df=pd.read_csv(
url,
sep='\s+',
names=col_names,
na_values="?",
)
df.to_csv("auto_mpg.csv",index=False)
print("saved as 'auto_mpg.csv'")
print(df.head())

saved as 'auto_mpg.csv'
    mpg  cylinders  displacement     hp  weight   acc  model  origin  \
0  18.0          8         307.0  130.0  3504.0  12.0     70       1
1  15.0          8         350.0  165.0  3693.0  11.5     70       1
2  18.0          8         318.0  150.0  3436.0  11.0     70       1
3  16.0          8         304.0  150.0  3433.0  12.0     70       1
4  17.0          8         302.0  140.0  3449.0  10.5     70       1

                         car
0  chevrolet chevelle malibu
1          buick skylark 320
2         plymouth satellite
3              amc rebel sst
4                ford torino

In [13]:
import pandas as pd
data ={
    'age':[10,12,13,13,14,15],
    'name':['Sachin','Vinod','Anil','Anil','Ashok','ANDAZ'],
    'city':['Umerkote','Nbpr','Nbpr','Nbpr','Nbpr','Nbpr']
}
df=pd.DataFrame(data)
print("\n1.Original DataFrame")
print(df)
print("Identify duplicates;")
print(df.duplicated())
print("Duplicate row only")
print(df[df.duplicated()])
df_first=df.drop_duplicates(keep='first') 
print(df_first)
df_last=df.drop_duplicates(keep='last') 
print(df_last)

1.Original DataFrame
   age    name      city
0   10  Sachin  Umerkote
1   12   Vinod      Nbpr
2   13    Anil      Nbpr
3   13    Anil      Nbpr
4   14   Ashok      Nbpr
5   15   ANDAZ      Nbpr
Identify duplicates;
0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool
Duplicate row only
   age  name  city
3   13  Anil  Nbpr
   age    name      city
0   10  Sachin  Umerkote
1   12   Vinod      Nbpr
2   13    Anil      Nbpr
4   14   Ashok      Nbpr
5   15   ANDAZ      Nbpr
   age    name      city
0   10  Sachin  Umerkote
1   12   Vinod      Nbpr
3   13    Anil      Nbpr
4   14   Ashok      Nbpr
5   15   ANDAZ      Nbpr

In [12]:
print("\n drop duplicates based on name and age")
df_subset=df.drop_duplicates(subset=['name','age'])
print(df_subset)

 drop duplicates based on name and age
   age    name      city
0   10  Sachin  Umerkote
1   12   Vinod      Nbpr
2   13    Anil      Nbpr
4   14   Ashok      Nbpr
5   15   ANDAZ      Nbpr